.post-container {
    /* set display to grid */
    display: grid;
    width: 470px;
    margin: auto;
    margin-top: 150px;
    /* setup rows and columns */
    grid-template-columns: 470px;
    grid-template-rows: 70px 3000px 1fr;
    grid-template-areas: 
    "hd"
    "main"
    "ft";
    border: 2px solid yellow;
}

.post-box {
    border: 1px solid red;
    background: #F8FA9D;
}

.post-header {
    grid-area: hd;
}

.post-footer {
    grid-area: ft;
}

.post-feature {
    grid-area: feat;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.post-content {
    font-size: 20px;
    line-height: 30px;
    grid-area: main;
    padding-left: 30px;
}

.indent {
    text-indent: 8%;
}