.post-container {
    /* set display to grid */
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 150px;
    /* setup rows and columns */
    grid-template-columns: 30px repeat(7,1fr);
    grid-template-rows: 100px 350px 600px 100px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd"
    "feat feat feat feat feat feat feat"
    "main main main main main main main"
    "ft ft ft ft ft ft ft";
    border: 2px solid yellow;
}

.post-box {
    border: 1px solid red;
    background: #F8FA9D;
}

.post-header {
    grid-area: hd;
}

.post-footer {
    grid-area: ft;
}

.post-feature {
    grid-area: feat;
    font-size: 20px;
    line-height: 30px;
}

.post-content {
    grid-area: main;
}

.indent {
    text-indent: 5%;
}