@import url(header.css);
@import url(sidebar.css);
@import url(footer.css);
@import url(atlas-ui.css);

body {
    background-color: antiquewhite;
}

.container {
    /* set display to grid */
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 150px;
    /* setup rows and columns */
    grid-template-columns: 30px repeat(7,1fr);
    grid-template-rows: 70px 400px 1fr;
    grid-template-areas: 
    "hd hd hd hd hd hd hd"
    "sd sd main main main main main"
    "ft ft ft ft ft ft ft";
}

.box {
    border: 1px solid red;
    background: #F8FA9D;
}

.header {
    grid-area: hd;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

.footer {
    grid-area: ft;
    padding-left: 10px;
}

.sidebar {
    grid-area: sd;
    padding-left: 10px;
}

.content {
    grid-area: main;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 390px;
  }